td {
	padding: 3px;
	border: solid gray 2px;
	border-collapse: collapse;
	font-size: 30px;
}

table {
	border: solid gray 2px;
	border-collapse: collapse;
}

.number {
	text-align: center;
}

.title {
	text-align: center;
	font-weight: bold;
}

::selection {
    color: lime;
    background-color: olivedrab;
}