/* Основной стиль таблицы */
table {
  width: 100%; /* Занимает всю доступную ширину */
  border-collapse: collapse; /* Убирает двойные границы */
  margin: 25px 0; /* Добавляет отступ сверху и снизу */
  font-size: 0.9em; /* Уменьшает размер шрифта */
  font-family: sans-serif; /* Изменяет шрифт на более читаемый */
  min-width: 400px; /* Минимальная ширина таблицы */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* Добавляет тень для таблицы */
}

/* Стиль заголовков таблицы */
thead tr {
  background-color: #009879; /* Цвет фона заголовков */
  color: #ffffff; /* Цвет текста заголовков */
  text-align: left; /* Выравнивание текста заголовков */
}

/* Стиль ячеек таблицы */
th, td {
  padding: 12px 15px; /* Добавляет отступы внутри ячеек */
}

/* Стиль для строк таблицы при наведении курсора */
tbody tr {
  border-bottom: 1px solid #dddddd; /* Добавляет границу между строками */
}

/* Зебра-стиль для строк таблицы */
tbody tr:nth-of-type(even) {
  background-color: #f3f3f3; /* Цвет фона для четных строк */
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879; /* Добавляет более толстую границу для последней строки */
}

tbody tr.active-row {
  font-weight: bold; /* Делает текст выбранной строки жирным */
  color: #009879; /* Изменяет цвет текста выбранной строки */
}
/* Стиль таблицы */
table {
  width: 60%; /* Уменьшает ширину таблицы до 60% от родительского элемента */
  border: 1px solid #ddd; /* Добавляет тонкую границу вокруг таблицы */
  margin: 0 auto; /* Центрирует таблицу на странице */
  border-collapse: collapse; /* Убирает двойные границы между ячейками */
}

/* Стиль ячеек таблицы */
th, td {
  border: 1px solid #ddd; /* Добавляет границы для каждой ячейки */
  padding: 8px; /* Уменьшает отступы внутри ячеек */
  text-align: center; /* Выравнивает текст по центру */
}

/* Стиль заголовков таблицы */
thead tr th {
  background-color: #f2f2f2; /* Цвет фона для заголовков таблицы */
  color: #333; /* Цвет текста заголовков */
}
.element {
  background-image: url('switzerland02.svg');
}
